:root {
    --primary-color: #e50914;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #fff;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-background {
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.header-background img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.header-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
}


.showcase-top {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 150px;
}


.showcase-content {
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slogan {
    text-align: center;
}

.slogan h1 {
    font-size: 2.4rem;
}

.slogan p {
    font-size: 1.4rem;
    margin: 20px auto;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.input-bar input {
    padding: 0.5rem;
    height: 100%;
    width: 65%;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.input-bar a {
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    width: 35%;
    text-transform: uppercase;
    margin: 0;
}

.input-bar-footer {
    text-align: center;
    margin-top: 30px;
}

.separator {
    width: 100vw;
    height: 4px;
    background: #aaa;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}


.section {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-side h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.text-side p {
    font-size: 1.5rem;
    line-height: 40px;
}

.img-side {
    width: 45%;
}

.img-side img {
    width: 100%;
    height: auto;

}

.questions {
    margin-top: 30px;
    flex-direction: column;
}

.questions h1 {
    margin-bottom: 30px;
    text-align: center;
}

.faq-btn {
    height: 70px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: #222222;
    color: #fff;
    margin: 5px auto;
    font-size: 1.5rem;
    padding: 0 15px;
    cursor: pointer;
}


.ans {

    height: auto;
    background: #3a3a3a;
    margin-top: 0px;
    text-align: justify;
    display: none;
    transform: translate3d(0, -100%, 0);
    animation: fade 1s ease-out forwards;
}

.show {
    display: block;
    transform: translate3d(0, 0, 0);
}

footer {
    margin: 40px auto;
    width: 80%;
    font-size: 0.8rem;
}

footer h3 {
    color: #ccc;
    font-size: 1.5rem;
}

.contact {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.footer-link {
    color: #aaa;
    margin: 5px 0;
}

select {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    background: #111;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(#000, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width : 950px) {
    .form-container {}

    .form-container input {


        font-size: 1.2rem;


    }

    .form-container a {}

    .form-container p {}

    .section {
        flex-direction: column-reverse;
    }

    .reversed {
        flex-direction: column;
    }

    .text-side {
        text-align: center;
        width: auto;
        height: auto;
        margin: 30px auto 0 auto;
    }

    .img-side {
        align-self: center;
        width: auto;
        margin: auto;
        padding: 0;
    }

    .img-side img {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

@media screen and (max-width : 760px) {

    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.2rem;
    }

    .questions h1 {
        font-size: 2rem;
    }

    .slogan h1 {
        font-size: 2rem;
    }

    .showcase-content {
        width: 400px;
    }

    .input-bar {
        flex-direction: column;
        width: 100%;
    }

    .input-bar input,
    .input-bar a {
        width: 100%;
        height: 40px;
    }

    .input-bar {
        margin-bottom: 20px;
    }

    .input-bar-footer {}

    .faq-btn {
        font-size: 1rem;
    }

    .ans p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width : 600px) {
    .footer-link {
        width: 50%;
    }


}